<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>179051470655-tplaqvear6qpfa4vejmnom56pam1j797.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179051470655-tplaqvear6qpfa4vejmnom56pam1j797</string>
	<key>API_KEY</key>
	<string>AIzaSyCw3pB5mSJSWzJNS8BnCXoCQW879HdEArA</string>
	<key>GCM_SENDER_ID</key>
	<string>179051470655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.headerdevs.headerdevs-social</string>
	<key>PROJECT_ID</key>
	<string>headerdevs-social</string>
	<key>STORAGE_BUCKET</key>
	<string>headerdevs-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:179051470655:ios:cf9e0cc18959a1ed</string>
	<key>DATABASE_URL</key>
	<string>https://headerdevs-social.firebaseio.com</string>
</dict>
</plist>